body {
	background: url('../images/background.jpg');
	background-size: contain;

	font-family:sans-serif;
	text-align: center;
	list-style-position: inside;

	ol {
		text-align: left;
		padding-left: 45%;
	}

	img {
		width: 30%;
	}

	iframe {
		border-width: 15px;
		border-style: solid;
		border-color: black;
	}
}
